<div class="container">
    <div class="row">
        <div class="form-group mb-4">
            <label>Filter by username</label>
            <input type="email" class="form-control" [(ngModel)]="searchPerm">
        </div>
        <div *ngFor="let post of posts | filter:searchPerm" class="col-3 mb-4">
            <app-post-card [post]="post"></app-post-card>
        </div>
        <ngb-pagination *ngIf="(pageSize < totalRows) && (posts.length>0)" [collectionSize]="totalRows"
            [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [maxSize]="5" [rotate]="true" [ellipses]="true"
            (pageChange)="pageChange($event)">
        </ngb-pagination>
    </div>
</div>